<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AcsIP" value="192.168.1.200" />
		<add key="CL3000_IP" value="192.168.1.10" />
		<add key="CL3000_Port" value="24685" />
		<add key="EFEM_IP" value="192.168.50.180" />
		<add key="EFEM_Port" value="6000" />
	</appSettings>	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
